* {
  box-sizing: border-box;
}

.main {
  padding: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
}

.mainBox {
  background-color: black;
  padding: 5px;
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.whiteBox {
  background-color: white;
}

.whiteBoxOne {
  width: 70px;
  height: 80px;
}

.whiteBoxTwo {
  width: 70px;
  height: 120px;
}

.whiteBoxThree {
  width: 185px;
}

.whiteBoxFour {
  width: 10px;
  height: 40px;
}

.redBox {
  background-color: rgb(255, 135, 135);
  width: 185px;
}

.yellowBox {
  background-color: rgb(255, 255, 145);
  width: 10px;
  height: 40px;
}

.blueBox {
  background-color: rgb(113, 113, 255);
  width: 76px;
}

.d-flex {
  display: flex;
}

.d-flexOne {
  gap: 5px;
  -ms-flex-align: stretch;
}

.d-flexTwo {
  flex-direction: column;
  gap: 10px;
}

.d-flexThree {
  gap: 5px;
  -ms-flex-align: stretch;
}
