* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 237, 243);
}

.header {
  padding: 10px;
  margin: 0px 0px;
  background-color: rgb(218, 218, 231);
}

.headingTitle {
  text-align: center;
  color: rgb(80, 135, 236);
}

li {
  display: inline;
}

.navLink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.973);
}

.navButton {
  background-color: rgb(52, 115, 231);
}

.navButton:hover {
  background-color: rgb(53, 53, 236);
}

.heading {
  margin-top: 10px;
  color: rgb(80, 135, 236);
  text-align: center;
}
.nav {
  margin-top: 5px;
}

.list {
  list-style: none;
  margin-top: 5px;
}

a {
  text-decoration: none;
}

div {
  margin-top: 8px;
}

.main {
  margin-top: 10px;
  padding: 10px;
}

.link {
  margin: 5px 2px;
  padding: 3px;
  background-color: rgb(52, 115, 231);
  color: white;
}

.topLink {
  text-decoration: none;
  margin-top: 10px;
}

footer {
  padding: 10px;
  margin: 10px 0px 0px;
  background-color: rgb(218, 218, 231);
}

.formLabel {
  color: rgb(135, 173, 255);
  margin-top: 5px;
}

input {
  margin-top: 7px;
  border: 1px solid rgb(135, 173, 255);
}

form {
  padding: 10px 10px;
  border: 1px solid rgb(135, 173, 255);
  display: inline-block;
}

.btn {
  margin: 5px 2px;
  padding: 3px;
  background-color: rgb(52, 115, 231);
  color: white;
  border: 1px solid rgb(0, 25, 253);
  cursor: pointer;
}
